<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Edge5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E02935CD1E5B0F7D00892028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E02935E11E5B0F7D00892028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E02935EC1E5B0F7E00892028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
